#calendarContainer {
  overflow: hidden;
  width: 280px;
}

#calendarHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#calendarMonth {
  font-weight: 300;
  font-size: 1.2em;
  color: black;
  text-align: center;
  padding: 0.5em 0.25em;
  word-spacing: 5px;
  user-select: none;
  width: 180px;
}

#arrowLeft, #arrowRight {
  font-size: 1.5rem;
  color: grey;
  cursor: pointer;
}

#calendarGrid {
  display: grid;
  grid-template: repeat(7, auto) / repeat(7, auto);
}

.calendarCell {
  text-align: center;
  align-self: center;
  letter-spacing: 0.1rem;
  padding: 0.5em 0.5em;
  user-select: none;
  width: 40px;
}

.calendarDay {
  color: grey;
}

.hlDate {
  color: #fff !important;
  background: #06c !important;
  position: relative;
  border-radius: 20px;
}

.tdDate {
  color: #06c !important;
  background: transparent !important;
}

.nsmDate {
  color: grey;
}

.nmDate {
  cursor: pointer;
}